<!DOCTYPE html>
<html lang="en" dir="ltr">


<div class="row">
  <p>{{ numero + 1 }} / {{ total_questions }}</p>
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h4 class="card-title"> {{ message[numero].question }}</h4>
      <form [formGroup]="answers" (ngSubmit)="submit()">
            <label formArrayName="posibleAnswers" *ngFor="let posible of answers.controls.posibleAnswers.controls; let i = index">
              <input type="checkbox" [formControlName] = "i">
              <span class="checkmark"></span>
                {{ posibleAnswers[i] }}
            </label>
      </form>
      <button type="button"
       name="button"
       (click)="submit()">Check</button>
    </div>
  </div>
</div>

<button type="button"
 name="button"
 (click)="nextQuestion()">Next Question</button>

<br>

<div class="row">
  <h5>Feedback: </h5>
  <div class="card" style = "width: 100%;">
    <div class="card-body">
      <label> {{
        graded_answers }}</label>
      <label>
        {{ correct_answers }}
      </label>
    </div>
  </div>
</div>




</html>
