<!DOCTYPE html>
<form>

  <!--Input for player's name-->
  <div class="form-group">
    <label for="inputName">Please, tell us your name</label>
    <input type="name" class="form-control" placeholder="Player's name">
    <small class="form-text text-muted">Player's name to display.</small>
  </div>

  <hr>

  <!--Input for questions -->
  <label for="inputQuestions">How many questions do you want to play with?</label>
  <mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1000"
  min="1"
  max="10"></mat-slider>

  <hr>

  <div class="text-right">
    <button type="button" class="btn btn-outline-success"
    (click) = "getQuestions()">Start</button>
  </div>



</form>
